* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Bahnschrift;
}

body {
    background-color: white;
    background-image: url("https://cdn.pixabay.com/photo/2013/07/12/13/18/bodybuilder-146791_960_720.png");
    background-position: center;
    background-repeat: repeat-x;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header {
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4 {
    margin: 10px;
}

.title {
    font-size: 50px;
    margin: 50px;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.7);
    text-shadow: #FFF 0 0 5px,
    #FFF 0 0 10px,
    #FFF 0 0 15px,
    red 0 0 20px,
    red 0 0 30px,
    red 0 0 40px,
    red 0 0 50px,
    red 0 0 75px;
    transition: 0.5s;
    padding: 5px;
}

.title:hover {
    transform: scale(1.3);
}

.heading, a, h4, .service-title {
    color: white;
    text-shadow: 2px 2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    -2px -2px 0 black,
    2px 0 0 black,
    0 2px 0 black,
    -2px 0 0 black,
    0 -2px 0 black;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr, td, th {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.table {
    width: 500px;
    background: white;
}


/*######################
##  Form
########################*/

form {
    width: 500px;
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form p {
    font-weight: bold;
}

input {
    padding: 7px;
    margin: 5px;
}

textarea {
    padding: 20px;
    width: 500px;
}

button {
    padding: 7px;
    margin: 5px;
    background: red;
    color: white;
    width: 150px;
    border: 2px solid white;
    cursor: pointer;
}

button:hover {
    background: white;
    color: orangered;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: orangered;
}

.modal .close {
    color: white;
    font-size: 50px;
    cursor: pointer;
}

.error {
    color: red;
    font-size: .8em;
}

/*######################
##  Navigation
########################*/

nav {
    display: flex;
    font-size: 40px;
    max-width: 380px;
    cursor: pointer;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    cursor: pointer;
}

a {
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    transition: 0.4s;
}

a:hover {
    color: red;
}

/*######################
##  Footer
########################*/

footer{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

/*######################
##  Index Page
########################*/

.represent-image{
    height: 150px;
    width: 100%;
    background-image: url('../image/empty-gym.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 20px 0;
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.container-service {
    border: 1px solid black;
    width: calc(800px / 4);
    background-color: rgba(250, 250, 250, 0.7);
}

.container-service:hover {
    transform: scale(1.3);
}

.service-description-container{
    padding: 0 5px 5px 5px;
}
.service-title {
    font-weight: 400;
    text-align: center;
    margin: 10px 0;
}
.service-image{
    height: 40%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(80%);
}

.service-image:hover {
    filter: grayscale(0%);
}

.individual {
    background-image: url("../image/individual.jpg");
}

.group {
    background-image: url("../image/girls.png");
}

.consult {
    background-image: url("../image/consult.png");
}

.map{
    width: 100%;
}
iframe{
    width: 100%;
    height: 300px;
    border: none;
}

.name {
    font-size: 25px;
    padding: 10px;
}

@media only screen and (min-width: 400px) {
    /* For desktop: */

    nav {
        max-width: 800px;
    }

    ul {
        justify-content: space-between;
    }

    .represent-image {
        height: 300px;
    }

}

